html {
    box-sizing: border-box;
}

:root {
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tagbanwa&display=swap');

#container {
    max-width: 375px;
    margin: auto;
    margin-top: -8px;
    font-family: 'Hanken Grotesk', 'Noto Sans Tagbanwa', sans-serif;
}

#result {
    background-image: -webkit-linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    max-width: 375px;
    height: 40vh;
    color: var(--white);
    text-align: center;
    padding: 10px;
    border-radius: 0 0 15px 15px;
    
}

#global-score {
    background-image: -webkit-linear-gradient(var(--violet-blue), var(--persian-blue));
    max-width: 100px;
    margin: auto;
    height: 100px;
    text-align: center;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#number {
    font-size: 40px;
    font-weight: 600;
    display: block;
    flex-basis: 50%;
    margin-bottom: -30px;
}

span:not(.num, .den) {
    display: block;
    padding: 10px;
    font-size: 15px;
}

#great {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: -15px;
}

.score {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    height: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.reaction {
    color: var(--light-red);
    background-color: hsla(0, 100%, 67%, 0.1);
}

.memory {
    color: var(--orange-yellow);
    background-color: hsl(39, 100%, 56%, 0.1);
}

.verbal {
    color: var(--green-teal);
    background-color: hsl(166, 100%, 37%, 0.1);
}

.visual {
    color: var(--dark-gray-blue);
    background-color: hsl(224, 30%, 27%, 0.1);
}

#summary-tittle {
    color: var(--dark-gray-blue);
    font-weight: 700;
    margin: 10px;

}

.icon {
    width: 80px;
    display: flex;
}

img {
    margin: 5px;
    padding-right: 15px;
}

.num {
    display: inline-flex;
    margin: 10;
    color: var(--dark-gray-blue);
}

.den {
    color: hsla(224, 30%, 27%, 0.5);
}

button {
    background-color: var(--dark-gray-blue);
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    width: 350px;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    margin: auto;
    margin-left: 12px;
}

button:active {
    cursor: pointer;
    background-image: -webkit-linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

.attribution { 
    margin-top: 10px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 700px) {
    #container {
        display: flex;
        max-width: 600px;
        margin-top: 100px;
        border-radius: 15px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    }

    #result {
        max-width: 250px;
        height: 330px;
        border-radius: 15px;
        padding-top: 15px;

    }

    #summary {
        margin-top: 5px;
        margin-left: 20px;
        max-width: 375px;
    }

    button {
        max-width: 260px;
    }

    .attribution { 
        margin-top: 6px;
    }
}



