@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,400;1,200&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /** Primary **/
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    /** Neutral **/
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-borwn: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--eggshell);
    color: var(--wenge-borwn);
    line-height: 1.6;
    display: flex;
    justify-content: center;
    padding: 7rem;
}

h1, h2 {
    font-family: 'Young Serif', sans-serif;
}

main {
    width: 60%;
    min-width: 400px;
    background-color: var(--white);
    min-height: 1750px;
    padding: 3rem;
    border-radius: 20px;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.subtitulo {
    color: var(--dark-charcoal);
    margin: 1rem;
    margin-left: 0;
}

.preparation {
    background-color: var(--rose-white);
    padding: 1.5rem;
    padding-left: 2rem;
    border-radius: 10px;
    margin: 20px 0 20px 0;
}

.preparation > h3 {
    color: var(--dark-raspberry);
    margin-bottom: 0.5rem;
}

h2 {
    color: var(--nutmeg);
    margin-bottom: 1rem;
}

ul {
    list-style-position: inside;
}

ol {
    counter-reset: my-counter;
}

ol > li {
    list-style: none;
    margin-bottom: 0.6rem;
}

ol li::before {
    content: counter(my-counter)".";
    counter-increment: my-counter;
    margin-bottom: 1rem;
    margin-right: 7px;
    color: var(--dark-raspberry);
    font-weight: bold;
}

hr {
    margin: 2rem 0;
    border: 0;
    border-top: 1.5px solid var(--light-grey);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

tr {
    border-bottom: 1.5px solid var(--light-grey);
}

td {
    padding: 0.5rem;
}

.values {
    color: var(--dark-raspberry);
    font-weight: bold;
}

.attribuition {
    color: var(--dark-charcoal);
    font-size: 0.9rem;
    margin-top: 1.5rem;
}



